.navbar{
    background-color:#003580;
    height:60px;
    display: flex;
    justify-content: center;
}
.navbar_container{
    width:100%;
    max-width:1024px;
    color:white;
    align-items: center;
    justify-content: space-between;
    display: flex;
}
.logo{
    font-weight: 500;
}
.navButton{
    margin-left: 20px;
    border:none;
    padding:5px 10px;
    cursor:pointer;
    color:#003580;
}
